@use "../custom" as *;
@use "../components/mixins" as *;
// @use "../components/typography" as *;

.intro-section {
  @include gradient;
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;

  svg {
    shape-rendering: auto;
  }
}

.intros {
  .video-box {
    position: relative;

    a {
      position: absolute;
      //   @include absoluteCenter;
      span {
        i {
          font-size: 5rem;
          color: $secondary;
        }
      }
    }
  }
}

.border-animation {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border: 0.55rem solid $white;
  border-radius: 50%;
  left: -11%;
  top: -11%;
  animation: pulse-border 1.5s linear infinite;

  &--border-1 {
    animation-delay: 1s;
  }

  &--border-2 {
    animation-delay: 1.5s;
  }
}
