@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/buttons" as *;

.menu {
  @include gradient;
  li {
    padding: 0 0 0.7;
  }
  a {
    color: $white !important;
    text-transform: capitalize;
    font-weight: 600;

    .active {
      color: $secondary;
    }
  }
}
